<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>The date is</h2>
    <p>Friday, October 02, 2020 </p>
    </body>
</html>